/* general */

:root {
    /* number */
    --header-height: 120px;
    --sort-bar-height: 46px;
    /* color */
    --blue-color: #2673dd;
    --white-color: white;
    --black-color: black;
    --text-color: #333;
    --light-title-color: #999;
    --primary-color: #5cdd7f;
    --light-btn-primary-color: #2cbb52;
    --main-color1: #4bc46b;
    --main-color2: #63bd7b;
    --border-color: rgb(74, 234, 146);
    --hover-color: #eee;
    --contain-color: #f5f5f5;
    --footer-color: #777;
    --chatbot-gray-1: #333;
    --chatbot-gray-2: rgba(0,0,0,0.65);
    --chatbot-gray-3: rgba(0,0,0,0.54);
    --chatbot-gray-4: rgba(0,0,0,0.4);
    --chatbot-gray-5: rgba(0,0,0,0.26);
    --chatbot-gray-6: rgba(0,0,0,0.09);
    --chatbot-gray-7: rgba(0,0,0,0.06);

}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__col-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__col-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

.grid__col-2_4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

/* animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
        /* scale là độ lớn lên (kích thước = 0) */
        transform: scale(0);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    /* background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn linear 0.3s;
    display: none; */
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.modal__body {
    animation: grow linear 0.3s;

    background-color: var(--white-color);
    margin: auto;
    position: relative;
    z-index: 3;
    border-radius: 2px;
}

/* button */

.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 2px;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--light-btn-primary-color);
}
.btn-addtocart{
    min-width: 215px;
    padding: 0 20px;
}
.btn-product-site{
    min-width: 120px;
    height: 48px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 2px;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-product-site.btn--primary-product-site{
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 16px;
}
.btn-product-site.btn--primary-product-site:hover{
    background-color: #f05d40;
}
.btn.btn-signin {
    height: 40px;
    font-size: 1.4rem;
    padding: 0 8px 0 2px;
    margin: 5px;
}
.btn-login{
    min-width: 340px;
    height: 40px;
    text-decoration: none;
    border: none;
    background-color: var(--primary-color);
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 2px;
    font-size: 1.4rem;
    color: var(--white-color);
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
.btn-signin-link{
    width: 110px;
    height: 40px;
    text-decoration: none;
    border-radius: 2px;
    border: 2px solid var(--chatbot-gray-6);
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 2px;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-mini-1{
    min-width: 115px;
    height: 34px;
    text-decoration: none;
    border: 1px solid var(--chatbot-gray-3);
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 2px;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-mini-color{
    color: var(--primary-color);
    background-color: var(--contain-color);
}
.btn-mini-2{
    min-width: 115px;
    height: 34px;
    text-decoration: none;
    border: 1px solid var(--chatbot-gray-3);
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 2px;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
/* pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    padding: 0 15px;
}

.pagination-item--active .pagination-item-link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item .pagination-item-link:hover {
    box-shadow: 0 0 3px #333;
}

.pagination-item-link {
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    color: #999;
    height: 30px;
    text-align: center;
    line-height: 30px;
    min-width: 40px;
    border-radius: 3px;
}

.pagination-item .pagination-item-link--disable:hover {
    cursor: default;
    box-shadow: none;
}
.btn-confirm{
    min-width: 100%;
    height: 40px;
    text-decoration: none;
    border: none;
    background-color: var(--primary-color);
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 2px;
    font-size: 1.4rem;
    color: var(--white-color);
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
.payment-btn{
    min-width: 15%;
    height: 40px;
    text-decoration: none;
    border: none;
    background-color: var(--primary-color);
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 2px;
    font-size: 1.4rem;
    color: var(--white-color);
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 81%;
}